<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591577660072-tc9cmtpc4hdbr93oqq5cehia4cpmn9b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591577660072-tc9cmtpc4hdbr93oqq5cehia4cpmn9b7</string>
	<key>API_KEY</key>
	<string>AIzaSyAP9fO0JGWFyAZeJ4LkTbEdRMNqohZ6Iig</string>
	<key>GCM_SENDER_ID</key>
	<string>591577660072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listTraining</string>
	<key>PROJECT_ID</key>
	<string>list-taining</string>
	<key>STORAGE_BUCKET</key>
	<string>list-taining.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591577660072:ios:ee694a3f150e800d3ca09d</string>
</dict>
</plist>